body { 
	margin-left: auto; 
	margin-right: auto; 
	min-width: 850px;
    max-width: 960px; 
    font-family:  Helvetica, Arial, sans-serif; 
    font-weight: 400; 
    color: #121212; 
    background-color:#EBEBEB; 
}

header, nav, h1, h2, h3, h4 {
    font-family:'Nova Flat', cursive; 
}

header { 
    background: url(/media/img/chicago-skyline5-2.jpg)  no-repeat; 
    height: 261px;
    border-width: 3px;
    border-color:#121212;
    border-style:solid;	
} 

a{
	text-decoration: none; 
	
}

.required label:before { content: "*"; }

img { border: none; }
h1 a{ 
	font-size: 0.8em;
	color:#121212;
}
h1 a:hover { 	
	text-decoration: none; 
	background: url(/media/img/stripetrans.png);
	color:#EBEBEB;
	border-width: 3px;
	border-color:#C11515;
	border-style:solid;	

}
h2 { font-size: 1.3em; }

textarea { font-family: Arial, sans-serif; }
code, pre { font: 11px "DejaVu Sans Mono", Monaco, "Courier New", Courier, monospace; }
pre { margin: 0 1em; }


/* #navbar ul { margin-top: 0; } */

#brand { 
	display: inline;
    white-space: nowrap;
	padding-top: 0.5em; 
	font-size: 4.5em; 
	font-weight: bold;
	background-color:#C11515; 
	font-family: 'Black Ops One', cursive;
	font-style:normal;
	font-weight:400;	
	position: relative;
	top: 32px;
	left: 37px;
	padding: 17px;
        color:white;
}

#slogan { 
	margin: 0;
	font-size: 2em;
	background-color: #C11515;
	font-family: 'Wallpoet';
	position: relative;
	top: 34px;
	width: 484px;
	left: 262px;
	padding: 11px
}


#right h2:first-child { margin-top: 0; }
#right p:first-child { margin-top: 0; }

#userbox{
	margin: 0;
	display: inline;
    white-space: nowrap;
	font-weight:bold;
	font-size: 1em;
    border-style: solid;
    border-color: #C11515;
    background-color: white;
	font-family:'Nova Flat', cursive;
	position: relative;
	padding: 11px;
	left: -43px;
}
#userbox a{
	color:#121212;
	padding: 7px 5px;
	margin: -5px;
}
#userbox a:hover { 
	text-decoration: none; 
	background-color: #11264E;
	background: url(/media/img/stripetrans.png);
	color:#EBEBEB;
}

.nav,#navbar{
    border-style: solid;
    border-color: #C11515;
	background-color: white;
	margin: 0;
	display: inline;
    white-space: nowrap;
	font-weight:bold;
	font-size: 1em;
	font-family:'Nova Flat', cursive;
    padding: 11px;
    position: relative;
}

#navbar{
	top: -12px;
	left:30px;
}
#subnav{
    top: 9px;
    left: 366px;
}
#clearbar{
	height:24px;
}
.nav a{
    color:#121212;
	padding: 7px 5px;
}

#navbar a{
	margin: -5px;
}


.nav a:hover{
	text-decoration: none; 
	background-color: #11264E;
	background: url(/media/img/strip-dark.png);
	color:#EBEBEB;
}
.subnav{
    top: 10px;
    border-top: white;
}
#navbar span{
	padding:6px 3px 3px 10px
}

#connect {
    border-style: solid;
    border-color: #01F301;
    background: black;
    position: fixed;
    padding: 11px;
    float: right;
    left: -3px;
    top: 134px;
    width: 27px;
}
#connect div:first-child{
	padding-bottom:3px;
}

#connect span{
	font-size:1.4em;
}
#inner_connect{
	background: url(/media/img/strip-dark.png);
	height:47px;
}
#inner_connect a{
	padding:0px;
	position: relative;
	top: 11px;
}
#inner_connect a:first-child{
	padding-left:14px;
}
#inner_connect a:hover{
	background-color:transparent;
}
#content{
	padding-bottom:14px;
	padding-top:20px;
}
#notifications {
    position: fixed;
    right: 40px;
    bottom: 0px;
    width: 300px;
    font-size: 0.85em;
    opacity: 0.95;
}
#notifications .info {
    font-weight: bold;
    width: auto;
    padding: 0.5em;
}
#notifications .info span {
    background: white;
    box-shadow: -3px -3px 3px white, 3px 3px 3px white;
    -mox-box-shadow: -3px -3px 3px white, 3px 3px 3px white;
    -webkit-box-shadow: -3px -3px 3px white, 3px 3px 3px white;
}
#notifications .items {
    border: 1px solid #9a9a9a; border-bottom: none; border-top: none;
    overflow: hidden;
    max-height: 300px;
}
#notifications .item {
    cursor: pointer;
    padding: 0.5em;
    background: #333;
    border-bottom: 1px solid #000;
    border-top: 1px solid #666;
    /* text-overflow: ellipsis; */
}
#notifications .item, #notifications a {
    color: white;
    text-shadow: -1px -1px 0px rgba(0,0,0,0.3);
    -moz-text-shadow: -1px -1px 0px rgba(0,0,0,0.3);
    -webkit-text-shadow: -1px -1px 0px rgba(0,0,0,0.3);
}
#notifications .item:hover { background: #900; }
#notifications .item a { display: block;  }
#notifications .item:hover a { display: block; background: #900;  }
#notifications .item span { display: block; font-size: 0.8em; color: #ccc; }

#fist { float: left; margin-top: 1em; margin-right: 5px; margin-left: 10px; }
#right { width: 250px; font-size: 0.9em; vertical-align: top; }
#right350 { width: 350px; font-size: 0.9em; vertical-align: top; }
#left { padding: 0 1em 0 0; vertical-align: top; }
#sidebar { width: 250px; float: right; margin: 0.5em 0 1em 1em; font-size: small; }


.calendar_controls{
    text-decoration: none; 
    background-color:#121212;
	color:#EBEBEB;
	font-weight:bold;
	font-size: 1em;
	font-family:'Nova Flat', cursive;
	padding: 11px;
}
#list_view{
    position: relative;
    top: 47px;
    left: 758px;
}

#previous_month{
    position: relative;
    top: 47px;
    left: 384px;
}

#next_month{
    position: relative;
    top: 47px;
    left: 507px;
}

#agenda li{
    list-style-type: none;
}

.hl{
    background-color: #EBEB77;
}
#calendar {
	padding-top: 1em;
	padding-bottom: 1em;
	margin-right: .5em;
	margin-left: .5em;
}

#calendar table {
    width: 100%;
}

#calendar th {
	text-decoration: none; 
    background-color:#121212;
	color:#EBEBEB;
	font-weight:bold;
	font-size: 1em;
	font-family:'Nova Flat', cursive;
	padding: 11px;
}

#calendar .mon th,
#calendar .tue th,
#calendar .wed th,
#calendar .thu th,
#calendar .fri th,
#calendar .sat th,
#calendar .sun th
{
    text-align: center;
    font-size: .75em;
    background-color: #00297A;
    color: #FFF;
}

#calendar table tr th {
}

#calendar table tr td {
    width: 10%;
    border: 1px solid #555;
    vertical-align: top;
    height: 120px;
    padding: 2px;
}

#calendar ul {
    padding-left: 21px;
}

#calendar td.noday {
    background-color: #eee;
}

#calendar td.filled {
    background-color: #EBEB77;
}

#calendar td.today {
    border: 4px solid  #11264E;
}

#calendar .dayNumber {
	float: right;
    font-size: 1em !important;
}

#calendar .dayNumberNoReadings {
	float: right;
}

#calendar a {
    font-size: .625em;
}

article {
    line-height: 1.4;
}

article h1:first-child { margin: 0; padding: 0; line-height: normal; }


article blockquote { color: #333; }
p.info { color: #777; font-size: 0.9em;
                 margin-top: 12px; }
#articles article:last-child { border-bottom: none; margin-bottom: 0; }

footer { 
	clear: both; 
	background: url(/media/img/strip-dark.png);	
	height:90px;
	border-width: 3px;
	border-color:#121212;
	border-style:solid;	
}
footer div { 
	position: relative;
	background-color: #C11515;
	float:left;
	left: 724px;
	top: 23px;
	height: 56px;
	font-size: 0.7em;
	padding: 10px;
}

.amp { font-family: Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', serif;
       font-style: italic; font-size: 1.1em; }
       
.formtable th { text-align: right; vertical-align: top; padding-top: 0.5em;
                font-family: Arial, sans-serif; width: 100px;
                font-size: small; }
.formtable input[type="checkbox"] { margin-top: 0.6em; }
.formtable .helptext { font-size: small; color: #666; }
ul.errorlist { padding: 0; margin: 0; list-style-type: none;
               font-family: Arial, sans-serif; font-size: small; }
ul.errorlist li { color: red; font-weight: bold; padding: 0; margin: 0; }

.editform { margin: 1em 0; }
.comment .content { margin: 1em 0; font-size: small; }
.comment .words { overflow: auto; width: 600px; }
.comment .info { color: #666; font-size: 0.9em; }
.comment .info .collapse { font: 10px verdana, arial, helvetica; color: #666; }
.comment .links { font-size: 0.9em; }
.comment .links a { margin: 0 0.15em; }
.comment .deleted { margin-left: -1em; }
.comment .deleted span { background: #eee; padding: 0.5em; }
.comment .links .upvoted { font-weight: bold; }
.comment .links .downvoted { font-weight: bold; }
.comment p, .comment blockquote { margin: 0.5em 0; }
.comment blockquote { margin-left: 0.2em; padding-left: 0.5em; border-left: 2px solid #aaa; }
.comment pre { margin: 1em; }
.removed { background: #fcc; }
.highlight { background: #fffbcc; }
.replies { margin-left: 3px; padding-left: 7px; border-left: 2px solid #eee; }
.collapsed .words { display: none; }
.collapsed .links { display: none; }
.collapsed .replies { display: none; }

.postform label { font-size: small; color: #666; }
.bigerror { color: red; font-size: big; font-weight: bold; }
.error { color: red; font-size: small; }
.warning { color: #a00; font-size: small; width: 30em; }
.loader { display: none; }
#postform a { font-size: small; }
.postform a { font-size: small; }

.message .on { background: #f2f2f2; }
.message .info { font-size: small; color: #777; margin-bottom: 0; }
.message .words p { margin: 0.5em 0; }

.attendee-info .links { margin-bottom: 0; }
.attendee-info .info { margin-top: 0; }
.yes { font-weight: bold; color: #0a0; }
.no { font-weight: bold; color: #a00; }
.maybe { font-weight: bold; color: #cd950c; }

.good { color: #0a0; font-size: small; font-weight: bold; }
.bad { color: #a00; font-size: small; font-weight: bold; }

.tinygray { font-size: small; color: #666; }

.funlist li { margin-bottom: 1em; }
.linklist li { margin-bottom: 0.3em; }

.bubble { font-size: 13px; }

.buttons { padding-top: 0.5em; padding-bottom: 1.5em; text-align: right; }
a.button {
    padding: 0.5em 1em; margin-left: 0.5em; font-size: 1.2em;
    box-shadow: -2px -2px 10px rgba(0,0,0,.25) inset, 2px 2px 3px white inset;
    -moz-box-shadow: -2px -2px 10px rgba(0,0,0,.25) inset, 2px 2px 3px white inset;
    -webkit-box-shadow: -2px -2px 10px rgba(0,0,0,.25) inset, 2px 2px 3px white inset;
    text-shadow: -1px -1px 0px rgba(0,0,0,0.2);
    -moz-text-shadow: -1px -1px 0px rgba(0,0,0,0.2);
    -webkit-text-shadow: -1px -1px 0px rgba(0,0,0,0.2);
}
a.button:active {
    box-shadow: 2px 2px 10px rgba(0,0,0,.25) inset, -2px -2px 3px white inset;
    -moz-box-shadow: 2px 2px 10px rgba(0,0,0,.25) inset, -2px -2px 3px white inset;
    -webkit-box-shadow: 2px 2px 10px rgba(0,0,0,.25) inset, -2px -2px 3px white inset;
}
.gray { background: #666; color: white; font-weight: bold; }
.orange { background: #ee9a00; color: white; font-weight: bold; }

#right ul { padding-left: 1.5em; }

#recents h4 { margin-top: 0; }
#recents .item { padding: 3px -3px; padding: 3px; cursor: pointer; }
#recents .item:hover { background: #f3f3ff; }
#recents .item .info { font-size: x-small; color: #777; }
#recents .recent-comment .title { white-space: nowrap; overflow: hidden;
                                  text-overflow:ellipsis; max-width: 240px; }

#thread-list { margin: 1em 5px; }
#thread-list .item { margin: 0 -5px; padding: 3px; cursor: pointer; }
#thread-list .item:hover { background: #f3f3ff; }
#thread-list .item h3 { margin: 0; font-size: 1em; font-weight: normal; }
#thread-list .item .info { font-size: small; color: #555; }
.threadtype { color: #a00; }

#new-thread { margin-top: 1em; margin-bottom: 0.25em; }

#sql-info { position: absolute; top: 0; left: 0; background: #f6f6f6;
            width: 50%; border-right: 1px solid #ddd;
            border-left: 1px solid #ddd; }
#sql-info .info { background: #ffc; border-bottom: 1px solid #ddd;
                  cursor: pointer; padding: 0.25em; }
#sql-info .info span { color: #666; font-size: 0.8em; }
#sql-info .hidden { display: none; }
#sql-info .item { border-top: 2px solid #ddd; padding: 0.5em;
                  overflow: auto; }
#sql-info .item:first-child { border-top: none; }
#sql-info .item p { margin: 0; padding: 0; text-indent: -3em; margin-left: 3em;
                    font: 8pt "DeJavu Sans Mono", monospace; }
#mapright { width: 600px; font-size: 0.9em; vertical-align: top; }

#left_index{
    float:left;
    margin: 2px 0px 2px 2px; 
    width:407px;
    padding: 11px;
}
#events{
    float: left;
}
.column_titles{
    text-align: center;
    padding: 0;
    margin: 0;
    top: 10px;
    position: relative;
}
