{% extends base %}

{% block title %}Free Bus/Carpool Route Map | {{ OWS_SITE_NAME }}{% endblock title %}
{% block body_class %}rides-page{% endblock %}
{% block scripts %}
  <script src="//maps.google.com/maps/api/js?libraries=places&sensor=false&region=us" type="text/javascript"></script>
{% endblock scripts %}

{% block stylesheets %}
  <style type="text/css">
      #id_rides{
        text-decoration: none; 
        background-color: #11264E;
        background: url(/media/img/strip-dark.png);
        color:#EBEBEB;
    }
  </style>
{% endblock stylesheets %}

{% block content %}
<section id="rides" style="padding-top:10px;padding-bottom:10px">
    {% block ride_content %}
    
    {% endblock ride_content %}
</section>
<div clear="both" style="padding-bottom: 10px;"></div>
{% endblock content %}

