{% load ows i18n l10n %}
<ul id="agenda">
    {% for event in events_list %}
   {% ifchanged event.start_date.day %} <h1 style="font-weight:bold">{{ event.start_date|date:"SHORT_DATE_FORMAT"}}-{{event.start_date|date:"l" }}</h1><hr/> {% endifchanged %}   
    <li class="{% cycle 'hl' '' %}" style="padding: 10px;">
        <h2><a class="calender_controls" href="{{ event.get_absolute_url }}">{{ event.title }}</a></h2>
       
        {% if event.location %}
        <p><b>Time:</b>{{  event.start_date|time:"TIME_FORMAT" }}<br>
        <b>Where:</b>{{ event.location }}</p>
        {% endif %}        
        <p>{{event.content|markup|slice:":400"}}{% if event.content|length > 401 %}... <br><a href="{{ event.get_absolute_url }}">Read More</a>{% endif %}</p>
    </li>
    {% endfor %}
</ul>
