{% load ows i18n l10n %}

<article class="article {% if user and user.userinfo.can_moderate and article.is_removed %}removed{% endif %}" id="{{ article.slug }}">
  {% include "occupywallst/article_info.html" %}
  <div class="words">
    {% for photo in article.photos.photos.all %}   
        {% if front_page %}
            <img src="{{photo.front_thumbnail.url}}"/>
        {% else %}
            <img style="width:686px;" src="{{photo.original_image.url}}"/>
        {% endif %}
    {% endfor %}
    
    {% if read_more %}
      {% if article.allow_html %}
        {{ article.content|read_more:article.get_absolute_url|markup_unsafe }}
      {% else %}
        {{ article.content|read_more:article.get_absolute_url|markup }}
      {% endif %}
    {% else %}
      {% if article.allow_html %}
        {{ article.content|markup_unsafe }}
      {% else %}
        {% if article.is_forum %}
          {{ article.content|markup|nofollow }}
        {% else %}
          {{ article.content|markup }}
        {% endif %}
      {% endif %}
    {% endif %}
  </div>
  <p class="view-comments">
    <a title="{% trans 'View Comments' %}" href="{{ article.get_absolute_url }}#comments">
      {{ article.comment_count|localize }} {% trans 'Comments' %}</a>
  </p>
</article>
