{% extends base %}
{% load ows i18n l10n %}
{% block title %}{% get_current_language as LANGUAGE_CODE %}{% translate_object article LANGUAGE_CODE %}{% if article.is_forum and not article.author.is_staff %}Forum Post: {% endif %}{{ article.title }} | {{ OWS_SITE_NAME }}{% endblock title %}
{% block description %}{{ article.content|synopsis:30 }}{% endblock description %}

{# this is ESPECIALLY important for SEO because news articles are
  displayed both on the index page and the forum page.  we don't
  want google indexing both! #}
{% block canonical %}
  <link rel="canonical" href="{{ OWS_CANONICAL_URL }}{{ article.get_absolute_url }}" />
{% endblock canonical %}

{% block extra_head %}
  {% if not article.is_visible %}
    <meta name="robots" content="noindex,nofollow" />
  {% endif %}
{% endblock extra_head %}

{% block stylesheets %}
  <style type="text/css">
      #navbar .nav-{% if forum %}forum{% else %}news{% endif %} {
      background: #900;
      background: -webkit-gradient(linear, left top, left bottom, from(#a11), to(#900));
      background: -moz-linear-gradient(top,  #a11,  #900);
    }
    .view-comments { display: none; }
  </style>
{% endblock stylesheets %}

{% block content %}
  {{ verbiage.aboveindex }}
  <div id="sidebar">
    {% if forum %}
      <h2 style="margin-top:0">{% trans 'Public Forum' %}</h2>
    {% else %}
      <h3 style="margin-top:0">{% trans 'Other Articles' %}</h3>
    {% endif %}
    <section id="recents">
      {% for recent in recents %}
        {% if recent.id != article.id %}
          <div class="item clickdiv">
            <div class="title">
              <a class="primary" title="{% trans 'View Thread' %}"
                 href="{{ recent.get_forum_url }}">{{ recent.title }}</a>
            </div>
            <div class="info">
{% blocktrans with comment_count=recent.comment_count|localize timesince=recent.published|timesince_short username=recent.author|userlink %}
{{ comment_count }} comments {{ timesince }} ago by {{ username }}
{% endblocktrans %}
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </section>
  </div>
  {% include "occupywallst/article_content.html" %}
  <h3 id="comments">
    <span id="comment-count">{{ article.comment_count }}</span> {% trans 'Comments' %}
  </h3>
  <div class="postcommentform">
    <textarea rows="5" cols="70"></textarea><br />
    <button class="save">{% trans 'post comment' %}</button>
    <img class="loader" src="{{ MEDIA_URL }}img/ajax-loader.gif"
         width="16" height="16" />
    <span class="error"></span>
    <a href="http://g8protest.org/rules/">Read the Rules</a>
  </div>
  <section id="comment-list">
    {% show_comments user comments %}
  </section>

{% endblock content %}
