{% load ows i18n l10n %}

{% get_current_language as LANGUAGE_CODE %}
{% translate_object article LANGUAGE_CODE %}
<h1><a href="{{ article.get_absolute_url }}">
  {% if article.is_forum and not article.author.is_staff %}Forum Post:{% endif %}
  {{ article.title }}
</a></h1>
<p class="info">

{% blocktrans with date=article.published|as_timezone:"US/Eastern"|date:"DATETIME_FORMAT" timesince=article.published|timesince_short username=article.author|userlink %}
Posted {{ timesince }} ago on {{ date }} EST by {{ username }}
{% endblocktrans %}

{% if article.is_forum %}({{ article.author.userinfo.karma }}){% endif %}

{% if article.is_forum and article.author and article.author.userinfo.city and article.author.userinfo.region %}
{% blocktrans with city=article.author.userinfo.city region=article.author.userinfo.region %}
from {{ city }}, {{ region }}
{% endblocktrans %}

{% endif %}
{% if article.is_event %}
    <br>
        <b>Start Time:</b>{{article.event.start_date}}<br>
    {% if article.event.end_date %}
        <b>End Time:</b>{{article.event.end_date}}<br>
    {% endif %}
    {% if article.event.location %}
        <b>Location:</b> {{article.event.location}} <br>
    {% endif %}
    {% if article.event.contact_info %}
        <b>Contact:</b>{{article.event.contact_info}}<br>
    {% endif %}
    {% if article.event.organization %}
        {% if article.event.link %}
        <b>by:</b><a href="{{article.event.link}}"> {{article.event.organization}} </a> <br>
        {% else %}
        <b>by:</b> {{article.event.organization}}  <br>  
        {% endif %}
    {% else %}{% if article.event.link %}
        <a href="{{article.event.link}}">More Info</a><br>
    {% endif %}{% endif %}

    
    <!-- {{article.event.organization}} -->
{% endif %}

  {% if user and user.is_authenticated and user == article.author %}
    {% if article.is_event%}
    | <a class="" href="{% url edit-event article.id %}">{% trans 'edit' %}</a>   
    {% else %}
    | <a class="edit" href="#">{% trans 'edit' %}</a>
    {% endif %}
    | <a class="delete" href="#">{% trans 'delete' %}</a>
  {% endif %}
  {% if article.is_forum and not article.author.is_staff %}
    <br>
    {% trans 'This content is user submitted and not an official statement' %}
  {% endif %}
  {% if user and user.userinfo.can_moderate %}
    <br>
    {% trans 'Mod:' %}
    <a class="ban" id="{{ article.author.username }}" href="#" style="{% if article.author.userinfo.is_shadow_banned %}display:none;{% endif %}">{% trans 'ban' %}</a>
    <a class="unban" id="{{ article.author.username }}" href="#" style="{% if not article.author.userinfo.is_shadow_banned %}display:none;{% endif %}">{% trans 'unban' %}</a>
    <a href="/admin/occupywallst/comment/?user={{ article.author.id }}">comments</a>
    <a href="/admin/occupywallst/forumpost/?author={{ article.author.id }}">threads</a>
    <a href="/admin/occupywallst/{% if article.is_forum %}forumpost{% else %}newsarticle{% endif %}/{{ article.id }}/">{% trans 'admin' %}</a>
    <a class="edit" href="#">{% trans 'edit' %}</a>
    <a class="remove" href="#">{% if not article.is_visible %}{% trans 'unremove' %}{% else %}{% trans 'remove' %}{% endif %}</a>
  {% endif %}
  
</p>
