<!DOCTYPE html>
<html>
<head>
  {% load ows i18n l10n %}
  {% get_current_language as LANGUAGE_CODE %}
  {% get_current_language_bidi as LANGUAGE_BIDI %}
  <meta charset="utf-8" />
  <title>{% block title %}{{ verbiage.title }}{% endblock title %}</title>
  <link rel="shortcut icon" href="{{ MEDIA_URL }}img/raised-fist.png" />
  <meta name="description" content="{% block description %}{{ verbiage.description }}{% endblock description %}" />
  {% block canonical %}
    <link rel="canonical" href="{{ OWS_CANONICAL_URL }}{{ request.path }}" />
  {% endblock canonical %}
  <link rel="alternate" type="application/rss+xml" title="{{ OWS_SITE_NAME }} News" href="{% url rss-news %}" />
  <link rel="alternate" type="application/rss+xml" title="{{ OWS_SITE_NAME }} Forum" href="{% url rss-forum %}" />
  <link rel="alternate" type="application/rss+xml" title="{{ OWS_SITE_NAME }} Comments" href="{% url rss-comments %}" />
  <link rel="stylesheet" href="{{ MEDIA_URL }}css/occupywallst.css?v=35" type="text/css" media="all" />
  <!--custom fonts -->
  <link href='http://fonts.googleapis.com/css?family=Nova+Flat|Black+Ops+One|Wallpoet' rel='stylesheet' type='text/css'>
  {% if LANGUAGE_BIDI %}
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/occupywallst_rtl.css?v=35" type="text/css" media="all" />
  {% endif %}
  <link rel="stylesheet" href="{{ MEDIA_URL }}css/occupywallst_print.css?v=9" type="text/css" media="print" />
  {% block extra_head %}
  {% endblock extra_head %}
  {% block stylesheets %}
  {% endblock stylesheets %}
</head>

<body class="{% block body_class %}{% endblock %}">
    {{ verbiage.connect }}
  <div id="outer_container">
  {% block body %}
    
    {% block header %}
      <header>
        <div id="userbox">
          {% if user.is_authenticated %}
            <a href="{{ user.get_absolute_url }}">{{ user.username }}</a> |
            {% if user.is_staff %}
              <a href="{% url admin:index %}">{% trans "admin" %}</a> |
            {% endif %}
            <a href="{% url logout %}">{% trans "logout" %}</a>
          {% else %}
            <a href="{% url login %}">{% trans "login" %}</a> |
            <a href="{% url signup %}">{% trans "signup" %}</a>
          {% endif %}
     
        </div>
        {{ verbiage.header }}

      </header>
    {% endblock header %}
    <nav>
      {% block nav %}
        {{ verbiage.navbar }}
        
      {% endblock nav %}

    </nav>
    <div style="clear: both">  
    </div> 
    <div id="content">
      {% block content %}
      {% endblock content %}
    </div>
    {% block footer %}
      <footer>
       {{ verbiage.footer }}
      </footer>
    {% endblock footer %}
    <div id="notifications" style="display:none">
      <div class="info">
        <span>{% trans "Notifications" %}</span>
      </div>
      <div class="items">
      </div>
    </div>
  {% endblock body %}
  {% block forms %}
    <div style="display:none" id="editform" class="editform">
      <textarea rows="5" cols="70"></textarea><br />
      <button class="save">{% trans 'save' %}</button>
      <button class="cancel">{% trans 'cancel' %}</button>
      <img class="loader" src="{{ MEDIA_URL }}img/ajax-loader.gif" width="16" height="16" />
      <span class="error"></span>
       <a href="http://g8protest.org/rules/">Read the Rules</a>
    </div>
  {% endblock forms %}
  <script src="{{ MEDIA_URL }}js/jquery-1.7.1.min.js" type="text/javascript"></script>
  <script src="{{ MEDIA_URL }}js/jquery-ui-1.8.17.custom.min.js" type="text/javascript"></script>
  {% if not DEBUG and OWS_SCRIPTS_MINIFIED %}
    <script src="{{ MEDIA_URL }}{{ OWS_SCRIPTS_MINIFIED }}?v=39" type="text/javascript"></script>
  {% else %}
    {% for script in OWS_SCRIPTS %}
      <script src="{{ MEDIA_URL }}{{ script }}?v=39" type="text/javascript"></script>
    {% endfor %}
  {% endif %}
  <!-- <script src="//chat.{{ request.get_host }}/socket.io/socket.io.js" type="text/javascript"></script> -->
  {% block scripts %}
  {% endblock scripts %}
  <script type="text/javascript">
    {{ verbiage.scripts }}
    function api(path, data, callback) {
        if (path.match(/^\/api\/safe\//)) {
            return $.get(path, data, callback, "json");
        } else {
            return $.post(path, data, callback, "json");
        }
    }
    $(function() {
      {% block js_init %}
        ows_init({
          notifications: {{ notifications|jsonify }}
        });
        forum_init({per_page: {{ per_page|default:"25" }}});
        article_init($(document));
      {% endblock js_init %}
    });
  </script>
  </div>
</body>
</html>
