  <style type="text/css">
      #id_events{
        text-decoration: none; 
        background-color: #11264E;
        background: url(/media/img/strip-dark.png);
        color:#EBEBEB;
    }
  </style>

<nav>
    <span style="left: 118px;"  class="nav subnav" >
        <a id="id_agenda" title="View events as an agenda" href="/events/">Agenda</a><span>::</span>    
        <a id="id_calendar" title="View events on a calendar" href="/calendar/">Calender</a><span>::</span>    
        <a id="id_addevent" title="Browse Past Forum Posts" href="/addevent/">Add Your Event</a>    
    </span>
</nav>
