{% extends base %}
{% load calender %}

{% block stylesheets %}
  <style type="text/css">
    #id_calendar{
        text-decoration: none; 
        background-color: #11264E;
        background: url(/media/img/strip-dark.png);
        color:#EBEBEB;
    }
  </style>
{% endblock stylesheets %}


{% block nav%}
    {{ block.super }}
    {% include "occupywallst/cal_nav.html" %}
{% endblock nav %}

{% block content %}

<div id="choose_date">
	<div id="id_calendar_controls">
		<!-- Then set up the controls for the calendar view -->	
		<a href="{% url calendar-render previous_month year %}" id="previous_month" class="calendar_controls">&lt;</a>
		<a href="{% url calendar-render next_month year %}" id="next_month" class="calendar_controls">&gt;</a>	
	</div>
</div>

<div id="calendar">
    {% event_calendar year month events_list %}
</div>
{% endblock content %}
