{% load ows i18n l10n %}

{% if not comment.is_deleted or comment.replies %}
  <div class="item comment {% if comment.is_worthless %}collapsed{% endif %}" id="comment-{{ comment.id }}">
    <div class="content {% if user and user.userinfo.can_moderate and comment.is_removed %}removed{% endif %}">
      {% if comment.is_deleted %}
        <p class="deleted"><span>{% trans 'This comment was deleted D:' %}</span></p>
      {% else %}
        <div class="info">
          {% if extended %}
            Thread: <a href="{{ comment.article.get_absolute_url }}">{{ comment.article.title }}</a>
            <br />
          {% endif %}
          <a class="collapse" href="#">{% if comment.is_worthless %}[+]{% else %}[-]{% endif %}</a>
          <span class="karma">{{ comment.karma|localize }}</span> {% trans 'points' %}
          by <span>{{ comment.user|userlink }}</span>
          ({{ comment.user.userinfo.karma|localize }})
          {% if comment.user and comment.user.userinfo.city and comment.user.userinfo.region %}
{% blocktrans with city=comment.user.userinfo.city region=comment.user.userinfo.region %}
from {{ city }}, {{ region }}
{% endblocktrans %}
          {% endif %}
          <span class="published">{{ comment.published|timesince_short }} {% trans 'ago' %}</span>
        </div>
        <div class="words">
          {{ comment.content|markup|strip_annoying_html|nofollow }}
        </div>
        <div class="links">
          <a class="up {% if comment.upvoted %}upvoted{% endif %}" href="#">{% trans '↥like' %}</a>
          <a class="down {% if comment.downvoted %}downvoted{% endif %}" href="#">{% trans '↧dislike' %}</a>
          {% if can_reply %}
            <a class="reply" href="#">{% trans 'reply' %}</a>
          {% endif %}
          {% if user and user.is_authenticated and user == comment.user %}
            <a class="edit" href="#">{% trans 'edit' %}</a>
            <a class="delete" href="#">{% trans 'delete' %}</a>
          {% endif %}
          <a class="permalink" href="{{ comment.get_absolute_url }}">{% trans 'permalink' %}</a>
          {% if user and user.userinfo.can_moderate %}
            | {% trans 'Mod:' %}
            <a class="ban" id="{{ comment.user.username }}" href="#" style="{% if comment.user.userinfo.is_shadow_banned %}display:none;{% endif %}">{% trans 'ban' %}</a>
            <a class="unban" id="{{ comment.user.username }}" href="#" style="{% if not comment.user.userinfo.is_shadow_banned %}display:none;{% endif %}">{% trans 'unban' %}</a>
            <a href="/admin/occupywallst/comment/?user={{ comment.user.id }}">comments</a>
            <a href="/admin/occupywallst/forumpost/?author={{ comment.user.id }}">threads</a>
            <a href="/admin/occupywallst/comment/{{ comment.id }}/">{% trans 'admin' %}</a>
            <a class="edit" href="#">{% trans 'edit' %}</a>
            <a class="remove" href="#">{% if comment.is_removed %}{% trans 'unremove' %}{% else %}{% trans 'remove' %}{% endif %}</a>
            {% if user.is_superuser %}
              <a href="/admin/occupywallst/comment/?ip=127.0.0.1">{{ comment.ip }} {{ comment.ip|ipcountry }}</a>
            {% endif %}
          {% endif %}
        </div>
      {% endif %}
    </div>
    <div class="replies">
      {% show_comments user comment.replies %}
    </div>
  </div>
{% endif %}
