{% extends base %}
{% load ows i18n l10n %}

{% block title %}{% trans 'Add Event' %} | {{ OWS_SITE_NAME }}{% endblock title %}
{% block scripts %}
  <link type="text/css" href="{{ MEDIA_URL }}css/custom-theme/jquery-ui-1.8.17.custom.css" rel="Stylesheet" />	
   <link rel="stylesheet" href="http://code.leafletjs.com/leaflet-0.3.1/leaflet.css" />
        <!--[if lte IE 8]>
            <link rel="stylesheet" href="http://code.leafletjs.com/leaflet-0.3.1/leaflet.ie.css" />
        <![endif]-->
   
    <script src="http://code.leafletjs.com/leaflet-0.3.1/leaflet.js"></script>
{% endblock scripts %}

{% block js_init %}
  {{ block.super }}
  $("#id_start_date").datetimepicker({ dateFormat: 'yy-mm-dd'});
  $("#id_end_date").datetimepicker({ dateFormat: 'yy-mm-dd' });
  init_event_add_map({
        {% if event.location_point %}
            "start_point":[{{ event.location_point.coords.0 }},{{ event.location_point.coords.1 }}],
	    "edit":"true"
        {% endif %}
      });
{% endblock js_init %}

{% block stylesheets %}
  <style type="text/css">
    #id_addevent{
        text-decoration: none; 
        background-color: #11264E;
        background: url(/media/img/strip-dark.png);
        color:#EBEBEB;
    }
    
  </style>
{% endblock stylesheets %}


{% block nav%}
    {{ block.super }}
    {% include "occupywallst/cal_nav.html" %}
{% endblock nav %}

{% block content %}
    <div style="float:left">
        <form action="." method="post">{% csrf_token %}
          <table class="formtable">
            {{ form.as_table }}
          </table>
          <p>
            {% if event %}   
              <input type="submit" value="{% trans 'Update Event' %}" />    
            {% else %}
              <input type="submit" value="{% trans 'Create Event' %}" />            
            {% endif %}  
            </p>
        </form>
    </div>
    <div style="float:right;">
        <div id="map" style="width:425px; height:425px">
        </div>
        <p>Place the marker on the location of your event</p> 
    </div>
{% endblock content %}

