{% extends base %}

{% block scripts %}
  <link type="text/css" href="{{ MEDIA_URL }}css/custom-theme/jquery-ui-1.8.17.custom.css" rel="Stylesheet" />
  <link rel="stylesheet" href="http://code.leafletjs.com/leaflet-0.3.1/leaflet.css" />
        <!--[if lte IE 8]>
            <link rel="stylesheet" href="http://code.leafletjs.com/leaflet-0.3.1/leaflet.ie.css" />
        <![endif]-->
   <script src="http://code.leafletjs.com/leaflet-0.3.1/leaflet.js"></script>
{% endblock scripts %}

{% block js_init %}
  {{ block.super }}
  $("#id_begin").datetimepicker({ dateFormat: 'yy-mm-dd'});
  $("#id_end").datetimepicker({ dateFormat: 'yy-mm-dd' });
  
 init_event_map({
        event_json:{type:"FeatureCollection",features:[
            {% for event in events_list %}{% if event.location_point %}
                { 
                    type:"Feature",
                    properties:{Name:"{{event.title}}",Description:"{{ event.location }}", Url:"{{ event.get_absolute_url }}", Start:"{{ event.start_date }}"},
                    geometry:{type:"Point",coordinates:[{{ event.location_point.coords.0 }},{{ event.location_point.coords.1 }}]}
                },
             {% endif %}{% endfor %}
         ]}
      });
{% endblock js_init %}

{% block stylesheets %}
  <style type="text/css">
    #id_agenda{
        text-decoration: none; 
        background-color: #11264E;
        background: url(/media/img/strip-dark.png);
        color:#EBEBEB;
    }
  </style>
{% endblock stylesheets %}

{% block nav%}
    {{ block.super }}
    {% include "occupywallst/cal_nav.html" %}
{% endblock nav %}

{% block content %}

    <div style="float:left;width:500px">
    <section id="articles">
        {% include "occupywallst/agenda.html" %}
    </section>
    </div>
    <div style="float:right;">   
        <div id="map" style="width:425px; height:425px"></div><a href="../map/">View More</a>
        <form method="POST" action=".">{% csrf_token %}
            <table>
             <th colspan="2">Filter Events</th>
             <tr><td style="white-space:nowrap">Start Date:</td> <td><input type="text" id="id_begin" name="begin" /></td></tr>
             <tr><td style="white-space:nowrap">End Date:</td> <td><input type="text" id="id_end" name="end" /></td></tr>
             <tr><td><input type="submit" value="Submit" /></td><td></td></tr>
           </table>
        </form>
    </div>

{% endblock content %}
