{% load i18n %}
<div>
   <form id="forum-search" method="get" action="/forum/search/">
       <span id="subnav" class="nav">
            <a title="Browse Past Forum Posts" href="/forum/archive/">Archive</a>
            <a title="Articles Sorted By Last Comment" href="/forum/">Bubbling</a>
            <a title="Comment Feed" href="/forum/comments/">Comments</a>
        </span>
        <!-- <li class="item nav-forum-most"><a title="Articles Sorted By Comment Count" href="/forum/most/">Most</a></li> -->
        <input style="float:right" class="{% if not forum_search %}clearme{% endif %}" type="text" name="q" value="{% if forum_search %}{{ forum_search }}{% else %}{% trans 'Search...' %}{% endif %}" />
    </form>

</div>
<div style="clear:both"></div>
