{% extends base %}
{% block title %} Images |  {{ OWS_SITE_NAME }} {% endblock title %}

{% block stylesheets %}
    <link href="{{ MEDIA_URL }}js/colorbox/colorbox.css" media="all" rel="stylesheet" type="text/css"/>
{% endblock stylesheets %}
{% block scripts %}
    <script src="{{ MEDIA_URL }}js/colorbox/jquery.colorbox-min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function() {
            // Use this example, or...
            $("a[rel='lightbox']").colorbox();
        });
    </script>
{% endblock scripts%}

{% block content %}
    {% for carousel in carousels %}
        <h1>{{carousel.name}}</h1><hr>
        {% for photo in carousel.photos.all %}
             <a rel="lightbox" href="{{photo.original_image.url}}"><img src="{{photo.thumbnail.url}}"/></a>            
        {% endfor %}
    {% endfor %}
{% endblock content %}
