  <style type="text/css">
    #id_home{
        text-decoration: none; 
        background-color: #11264E;
        background: url(/media/img/strip-dark.png);
        color:#EBEBEB;
    }
  </style>

<nav>
    <span style="left:47px;"  class="nav subnav" >
        <a id="id_news" title="View the Front Page" href="/">News</a><span>::</span>    
        <a id="id_archive" title="View past News Stories" href="/archive/">Archive</a><span>::</span>    
        <a id="id_forum" title="Browse the Forum" href="/forum/">Forum</a>    
    </span>
</nav>


