{% extends base %}

{% block nav%}
    {{ block.super }}
    {% include "occupywallst/index_nav.html" %}
{% endblock nav %}

{% block stylesheets %}
 <link href="{{ MEDIA_URL }}js/tweet/jquery.tweet.css" media="all" rel="stylesheet" type="text/css"/>
    <link type="text/css" href="{{ MEDIA_URL }}css/custom-theme/jquery-ui-1.8.17.custom.css" rel="Stylesheet" />
  <link rel="stylesheet" href="http://code.leafletjs.com/leaflet-0.3.1/leaflet.css" />
        <!--[if lte IE 8]>
            <link rel="stylesheet" href="http://code.leafletjs.com/leaflet-0.3.1/leaflet.ie.css" />
        <![endif]-->
   <script src="http://code.leafletjs.com/leaflet-0.3.1/leaflet.js"></script>
  <style type="text/css">
      #id_news{
        text-decoration: none; 
        background-color: #11264E;
        background: url(/media/img/strip-dark.png);
        color:#EBEBEB;
    }
  </style>
{% endblock stylesheets %}
{% block scripts %}
    <script src="{{ MEDIA_URL }}js/tweet/jquery.tweet.js" type="text/javascript"></script>
    <script type="text/javascript">
        jQuery(function($){
        $(".tweet").tweet({
            join_text: "auto",
            avatar_size: 32,
            		count: 6,
            username: [{{verbiage.twitter}}],
            loading_text: "searching twitter...",
            refresh_interval: 60
        });
    });
    
    init_event_map({
        event_json:{type:"FeatureCollection",features:[
            {% for event in events_list %}{% if event.location_point %}
                { 
                    type:"Feature",
                    properties:{Name:"{{event.title}}",Description:"{{ event.location }}", Url:"{{ event.get_absolute_url }}", Start:"{{ event.start_date }}"},
                    geometry:{type:"Point",coordinates:[{{ event.location_point.coords.0 }},{{ event.location_point.coords.1 }}]}
                },
             {% endif %}{% endfor %}
         ]}
      });  
    
    </script>
{% endblock scripts %}
{% load ows i18n l10n %}
{% block body_class %}home-page{% endblock %}
{% block content %}
    <div id="left_index">
        <div id="top">
            {% with read_more="True" front_page="True" column_width=400 %}
                {% for article in articles_top %}
                    {% include "occupywallst/article_content.html" %}
                {% endfor %}
            {% endwith %}
            <a href="/archive/">View Older Articles</a>            
        </div>
    </div>
    <div style="width:261px;float:left" >
        <div>
            <h3 class="column_titles">Upcoming Events</h3><hr>
            <ul style="padding-left: 20px; padding-right: 0px;">
            {% for event in events %}
                {% ifchanged event.start_date.day %} <span style="font-weight:bold">{{ event.start_date|date:"SHORT_DATE_FORMAT"|center:8 }}</span><br/> {% endifchanged %}
                <li style="list-style-type: circle"><a href="{{ event.get_absolute_url }}">
                {{ event.title|slice:":29"}}{% if event.title|length > 30 %}...{% endif %}
                </a></li>
            {% endfor %}
            </ul>
            <a href="/events/">View More</a>
        </div>
        
        <div id="wire">
            <h3 class="column_titles" >The Wire</h3><hr>

            {% for article in articles %}
               <a style="display:block" href="{{ article.get_absolute_url }}">
                {{ article.title|slice:":23" }}{% if article.title|length > 23 %}... {% endif %}
                <p class="info" style="display: inline;">{{article.published|timesince_short}}</p></a>
            {% endfor %}
            <a href="/archive/">View More</a>
        </div>
        <div>
             <h3 class="column_titles" >Tweets</h3><hr>
            <div class="tweet">
                
            </div>
        </div>
        <div id="images">
            <h2 class="column_titles">media</h2><hr>
             {% for image in images %}
                <a href="images/"><img src="{{image.thumbnail.url}}"/></a>  
             {% endfor %}
        </div>
        
    </div>

    <div id="sidebar">
        {{ verbiage.index_sidebar }}
    </div>
    
    <div style="position: relative;
                width: 426px;
                float: right;
                padding-bottom: 10px;" ><div id="map" style="width:425px; height:425px"></div><a href="/map/">View Larger Map</a></div>
{% endblock content %}

