{% extends base %}
{% load ows i18n l10n %}

{% block title %}{% trans 'Login' %} | {{ OWS_SITE_NAME }}{% endblock title %}

{% block js_init %}
  {{ block.super }}
  $("#id_username").focus();
{% endblock js_init %}

{% block content %}
  <section id="login">
     <h1>{% trans 'Login' %} </h1><span style="position:relative;top:-16px">Or<a href="{% url signup %}">Sign Up</a></span>
    <br />
    <form action="." method="post">{% csrf_token %}
      <table class="formtable">
        {{ form.as_table }}
      </table>
      <p><input type="submit" value="{% trans 'Login' %}" /></p>
    </form>
  </section>
{% endblock content %}
