{% load ows i18n l10n %}
<!DOCTYPE HTML>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <link rel="stylesheet" href="http://code.leafletjs.com/leaflet-0.3.1/leaflet.css" />
        <!--[if lte IE 8]>
            <link rel="stylesheet" href="http://code.leafletjs.com/leaflet-0.3.1/leaflet.ie.css" />
        <![endif]-->
        <script  src="{{OWS_CANONICAL_URL}}/media/chi_map/jquery-1.7.2.min.js"></script>
        <script src="http://code.leafletjs.com/leaflet-0.3.1/leaflet.js"></script>
        <script  src="{{OWS_CANONICAL_URL}}/media/chi_map/leaf/map.js"></script>
        <script>
            $(document).ready(function () {
                init_map({
                    event_json:{type:"FeatureCollection",features:[
                    {% for event in events_list %}{% if event.location_point %}
                        { 
                            type:"Feature",
                            properties:{Name:"{{event.title}}",Description:"{{ event.location }}", Url:"{{ event.get_absolute_url }}", Start:"{{ event.start_date }}"},
                            geometry:{type:"Point",coordinates:[{{ event.location_point.coords.0 }},{{ event.location_point.coords.1 }}]}
                        },
                    {% endif %}{% endfor %}
                    ]},
		    {% if category %}
		      {{category}}:true
		    {% endif %}
                });   
            });
        </script>
        <style>
            body {
                padding: 0;
                margin: 0;
            }
            html, body, #map {
                height: 100%;
            }
            .l{
                font-weight: bold;
            }
        </style>
        
    </head>
    <body>

    <div id="map">

    </div>
    <div style="position: absolute;
                z-index: 99;
                bottom: 0px;
                background-color: #C11515;
                color: white;
                padding: 4px;
                border-color: black;
                border-width: 1px;
                border-style: solid;"><a style="color: white; font-weight: bold;" href="\">Go Back</a>&nbsp;|&nbsp;<a href="../diagram">Read More</a> | <a href="http://nato.march-hare.org/">Live Map</a></div>    
    </body>
</html>




